body{
    margin: 30px auto;
    text-align: center;
}
.form{
    margin:0 auto;
}
.form_container {
    width: 320px;
    margin: 0 auto;
    text-align:left;
}
.form input
{
    min-width: 230px;
    display: inline-block;
    margin:4px;
}
.form label{
    min-width: 230px;
    display:block;
}
.form .button{
    margin:4px;
}
.form .output{
    text-align:left;
    padding:20px;
}
.form .output .item a{
    display:inline-block;
}